body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
    font-size: 150%;
    margin-bottom: 40px;
}

h3 {
    margin-top: -20px;
}

#top {
    z-index: 1 !important;
    padding-top: 40px;
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: black;
    border-bottom-width: 5px;
    width: 100%;
    position: fixed;
}

#iden {
    text-align: center;
    position: relative;
    top: 100px !important;
    padding-bottom: 40px;
    /* margin-top: 20px !important; */
}

.lang {
    height: 50em !important;
    border-radius: 0% !important;
}
#person {
    border: #313131;
    border-width: 10px;
    border-radius: 50%;
}
.h:hover {
    color: aqua;
    text-decoration: underline;
}