body, html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
    font-size: 150%;
}

.top {
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: black;
    border-bottom-width: 5px;
    width: 100%;
}

.lang {
    height: 50em;
}
.h:hover {
    color: aqua;
    text-decoration: underline;
}