body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#name {
    font-size: 50px !important;
}
h1 {
    font-size: 150%;
    margin-bottom: 40px;
}

h3 {
    margin-top: -20px;
}

#top {
    z-index: 1 !important;
    padding-top: 40px;
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: black;
    border-bottom-width: 5px;
    width: 100%;
    position: fixed;
}
#all {
    display: flex;
    margin-bottom: 55px;
    position: relative;
    top: 20px;
    --div-width: 250px;
    
}
#pic {
    /* border: 3px solid black; */
    flex: 50%;
    position: relative;
    top: 55px;
    text-align: center;
}
#iden {
    flex: 50%;
    text-align: center;
    position: relative;
    top: 55px !important;
    padding-bottom: 40px;
    font-size: large;
    margin-left: 10px;
    width: var(--div-width);
    /* border: 3px solid black; */
    /* margin-top: 20px !important; */
}

#me {
    height: 50px;
    height: 20%;
    border-radius: 50% !important;
}
.uni {
    position: relative;
    top: 50px;
    font-size: 30px !important;
}
.lang {
    height: 50em !important;
    
}
#person {
    border: #313131;
    border-width: 10px;
    border-radius: 50%;
}
.h:hover {
    color: aqua;
    text-decoration: underline;
}

#imp {
    display: flex;
    height: 50px;
    text-align: center;
    margin-left: 10% !important;
    width: var(--div-width);
}

#linkedR {
    margin-left: 10px;
    flex: auto;
}